@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat_Medium';
  src: url('../fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'Montserrat_Light';
  src: url('../fonts/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Montserrat_Thin';
  src: url('../fonts/Montserrat-Thin.ttf');
}
@font-face {
  font-family: 'Montserrat_SemiBold';
  src: url('../fonts/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: 'NotoSansKR_Regular';
  src: url('../fonts/NotoSansKR-Regular.otf');
}
@font-face {
  font-family: 'NotoSansKR_Bold';
  src: url('../fonts/NotoSansKR-Bold.otf');
}
*{
  font-family: 'Montserrat';
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
body {
  font-size: 15px;
  margin: 0;
  color: #222;
  line-height: 1.5em;
}

/* Reset CSS */
a {
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: 'Montserrat_Medium';
}
input, button, textarea {
  outline: none;
}
button {
  cursor: pointer;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
input[type='radio'] {
  display: none;
}
label {
  cursor: pointer;
}

/* Common CSS*/
.inner {
  /* border: 1px solid red; */
  width: 1300px;
  margin: auto;
}

/* Header */
header {
  width: 100%;
  position: fixed;
  transition: 0.6s;
}
.banner {
  background-color: #000;
  height: 40px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.lnb {
  width: 1300px;
  margin: auto;
  text-align: right;
  /* border: 1px solid pink;     */
}
.lnb a {
  color: #fff;
  margin: 10px;
}
.lnb a:last-child {
  margin-right: 0;
}
.gototop {
  background: linear-gradient(45deg, skyblue, rgb(186, 223, 238));
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  right: 20px;
  opacity: 0;
  bottom: -20px;
  text-align: center;
  line-height: 50px;
  color: white;
  transition: 0.5s;
}


/* Header with active class */
header.active {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
header.active .gnb li a {
  color: #000; 
}
header.active .banner {
  height: 0;
  overflow: hidden;
}
header.active nav {
  padding-bottom: 20px;
}
header.active .logo p {
  color: #000;
}
.gototop.active {
  bottom: 20px;
  opacity: 1;
}

/* Intro */
.intro {
  height: 100vh;
  background: url(../images/header-bg.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  /* filter: brightness(70%); */  
}
.heading {
  color: #fff;
  text-align: center;
}
.heading h1 {
  font-size: 56px;
  margin-bottom: 40px;
}
.heading p {
  font-size: 22px;
  line-height: 1.5em;
  font-family: 'Montserrat';
}
nav {
  /* border: 3px solid red; */
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.logo {
  display: flex;
  align-items: center;
  color: #fff;
}
.logo p {
  font-size: 1.2em;
  margin: 5px 10px;
}
.gnb {
  display: flex;
}
.gnb li {}
.gnb li a {
  margin: 20px;
  color: #fff;
}
.gnb li a:hover {
  color: #333;
}
.gnb li a:last-child {
  margin-right: 0px;
}

/* vision section */
.vision-content {
  display: flex;
  padding: 100px 0;
}
.vision-content div {
  padding: 30px;
}
.desc {
  text-align: center;
  flex: 3;
}
.desc h2 {
  font-size: 30px;
  font-family: 'Montserrat_SemiBold';
  margin-bottom: 30px;
}
.desc p {
  font-size: 20px;
  line-height: 1.7em;
}
.desc a {}
.photo {
  flex: 2;
}
.photo img {
  width: 100%;
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;  
}

/* assessment_menu */
.assessment {
  background-color: #f8f8f8;
  padding: 100px 0
}
.assessment-content {
  text-align: center;
}
.assessment-content h2{
  font-size: 30px;
}
.assessment-content hr{
  border: none;
  height: 4px;
  width: 120px;
  background-color: #0984e3;
  margin: 20px auto;
}
.assessment-content .items{
  display: flex;
  justify-content: space-around;
  /* justify-content: space-between; */
}
.assessment-content .item{
  width: 390px;
  height: 620px;
  border-radius: 30px 0 30px 0;
  background-color: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.089);
  overflow: hidden;
}



/* items */
.up-image {
  width: 390px;
  height: 285px;
  overflow: hidden;
}
.up-image img {
  width: 100%;
}
.down-desc {
  padding: 25px;
}
.down-desc h3 {
  font-size: 24px;
  margin: 15px 0;
}
.down-desc p {
  font-size: 16px;
  /* border: 1px solid #000; */
  height: 185px;
}
.btn_analysis {
  color: crimson;
  font-family: 'Montserrat-Medium';
}
.btn_analysis img{
  transition: 0.35s;
}
.btn_analysis:hover img{
  transform: translateX(20px);
}
.btn_analysis span{
  /* margin-bottom: 0; */
}
.badge1 {
  background-color: crimson;
  padding: 2px 10px;
  color: #fff;  
}
.badge2 {
  background-color: #0984e3;
  padding: 2px 10px;
  color: #fff;  
}

/* achivement */
.achivement {
  padding: 100px 0;   
}
.achivement-content {
  text-align: center;
}
.achivement-content h2{
  font-size: 30px;  
}
.achivement-content h2 b {}
.achivement-content hr{
  border: none;
  height: 4px;
  width: 120px;
  background-color: #0984e3;
  margin: 20px auto;
}
.myslider {
}
.achieve_box {  
  height: 500px;
  position: relative;  
  padding:10px;
}
.achieve_box img {  
  width: 100%;  
}
.achieve_desc {
  position: absolute;
  width:100%;
  bottom: 0;   
  font-family: 'NotoSansKR_Regular';
}
.achieve_desc p { 
  font-family: 'NotoSansKR_Bold';
  margin: 0.5em;
}

/* shortcut */
.shortcut {
  background-color: #f8f8f8;
  padding: 100px 0;
}
.shortcut-content {
  text-align: center;
}
.shortcut-content h2{
  font-size: 30px;
}
.shortcut-content hr{
  border: none;
  height: 4px;
  width: 120px;
  background-color: #0984e3;
  margin: 20px auto;
}

.shortcut_item {
  position: relative;  
  height: 400px;
  transition: 0.35s;
  border: 1px solid #fff;
}
.item1 {
  background: url('../images/pipe_support1.jpg') no-repeat left top;
  background-size: cover;
}
.item2 {
  background: url('../images/post.jpg') no-repeat left top;
  background-size: cover;
}
.item3 {
  background: url('../images/post.jpg') no-repeat left top;
  background-size: cover;
}
.shortcut_item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);

}
.shortcut_item:hover .shortcut_desc{
  background-color: #fff;
  color: #000;
}
.shortcut_item:hover .shortcut_viewmore{
  color: #000;
  border: 3px solid #000;
}
.shortcut_viewmore:hover {
  background-color: #000;
  color: #fff !important;  
}
.shortcut_desc {
  position: absolute;
  display: block;
  left:0;
  top:0;
  width:100%;
  height: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Montserrat_Medium';
  background-color: rgba(0, 0, 0, 0.699);
  font-weight: bold;
  transition: 0.35s;
}
.shortcut_desc span:nth-of-type(1) {  
  font-size: 2em;
  line-height: 300px;
}
.shortcut_viewmore {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  color: #fff;
  font-size: 1.3em;
  border: 3px solid #fff;
  padding: 10px;
  transition: 0.35s;

}
.shortcut_desc span:nth-of-type(2){
  position: absolute;
  left:10%;
  top:10%;
  height: 30px;
  width: 140px;
  line-height: 30px;
}

/* .shortcut_item img {
  height: 100%;
}
.shortcut_item:hover:before{  
  cursor: pointer;
  background: rgba(0, 0, 0, 0.363);
}
.shortcut_item:hover .shortcut_desc{  
  cursor: pointer;
  background-color: #000;
  color: #fff;
} */

/* CallAction Section */
.callaction {
  height: 450px;
  /* background: url(../images/callaction-01.jpg) no-repeat center center; */
  background: url(../images/EDDA.JPG) no-repeat bottom -212px center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.callaction:before {
  content: '';
  background: linear-gradient(to right bottom, transparent, rgba(128, 0, 128, 0.479), rgba(255, 255, 0, 0.726));
  width: 100%;
  height: 100%;
  position: absolute;
}
.callaction-heading {  
  text-align: center;
  position: relative;
}
.callaction-heading h2 {
  color: #fff;
  font-size: 48px;
  line-height: 1.2em;
  font-family: 'Montserrat';
  margin-bottom: 30px;
}
.callaction-heading a {
  background-color: yellowgreen;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
}
/* footer */
footer {
  background-color: #000;
}
.footer-content {
  /* border: 3px solid red; */
  padding: 20px;
  text-align: center;
  color: #fff;  
}
