@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat_Medium';
  src: url('../fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'Montserrat_Light';
  src: url('../fonts/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Montserrat_Thin';
  src: url('../fonts/Montserrat-Thin.ttf');
}
@font-face {
  font-family: 'Montserrat_SemiBold';
  src: url('../fonts/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: 'NotoSansKR_Regular';
  src: url('../fonts/NotoSansKR-Regular.otf');
}
@font-face {
  font-family: 'NotoSansKR_Bold';
  src: url('../fonts/NotoSansKR-Bold.otf');
}
*{
  font-family: 'Montserrat';
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
.container {
} 
html {
  scroll-behavior: smooth;
}
body {
  font-size: 15px;
  margin: 0;
  color: #222;
  line-height: 1.5em;
}

/* Reset CSS */
a {
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: 'Montserrat_Medium';
}
input, button, textarea {
  outline: none;
}
button {
  cursor: pointer;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
input[type='radio'] {
  display: none;
}
label {
  cursor: pointer;
}

/* Common CSS*/
.inner {
  /* border: 1px solid red; */
  width: 1300px;
  margin: auto;
}

/* Header */
header {
  width: 100%;
  position: fixed;
  transition: 0.6s;
}
.banner {
  background-color: #000;
  height: 40px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.lnb {
  width: 1300px;
  margin: auto;
  text-align: right;
  /* border: 1px solid pink;     */
}
.lnb a {
  color: #fff;
  margin: 10px;
}
.lnb a:last-child {
  margin-right: 0;
}
.gototop {
  background: linear-gradient(45deg, skyblue, rgb(186, 223, 238));
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  right: 20px;
  opacity: 0;
  bottom: -20px;
  text-align: center;
  line-height: 50px;
  color: white;
  transition: 0.5s;
}

/* Header with active class */
header.active {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
header.active .gnb li a {
  color: #000; 
}
header.active .banner {
  height: 0;
  overflow: hidden;
}
header.active nav {
  padding-bottom: 20px;
}
header.active .logo p {
  color: #000;
}
.gototop.active {
  bottom: 20px;
  opacity: 1;
}

.intro_assessment {
  height: 150px;
  /* background: url(../images/header-bg.jpg) no-repeat top -200px center fixed; */
  background-color: #293649;
  background-size: cover;
  display: flex;
  align-items: center;  
  /* border: 1px solid crimson; */
}
.title_assessment {  
  width: 100%;
  color: #fff;
  background-color: #212e41d5;
  height: 70px;
  line-height: 70px ;  
  padding-left: 335px;
}
.title_assessment > span {
  font-family: 'NotoSansKR_Bold';
  font-size: 20px;
  margin: 0 6px;    
}
nav {
  width: 1300px;
  margin: auto;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  margin-top: 38px;
  /* border: 1px solid crimson; */
}
.logo {
  display: flex;
  align-items: center;
  color: #fff;
}
.logo p {
  font-size: 1.2em;
  margin: 5px 10px;
}
.gnb {
  display: flex;
}
.gnb li {}
.gnb li a {
  margin: 20px;
  color: #fff;
}
.gnb li a:hover {
  color: #333;
}
.gnb li a:last-child {
  margin-right: 0px;
}

/* contents_assessment */
.contents_container {
  display: flex;  
  height: 1500px;
  /* margin-bottom: 300px; */
}

/* side menu_assessment */
.menu_container {
  flex: 2;  
  /* flex-basis: 200px; */
  background-color: #2a394f;
}
/* Post mast table assessment */
.content_container {
  flex: 13;
  padding-top: 50px;
  padding-left: 30px;
  /* width : 2200px; */
  display: flex;     
  /* border: 5px solid red; */
}

/* footer */
footer {
  background-color: #000;
}
.footer-content {
  /* border: 3px solid red; */
  padding: 20px;
  text-align: center;
  color: #fff;  
}

/* Menu */
.accordion-menu {
  max-width: 350px;  
  background: #242d41;
  overflow: hidden;
}
.accordion-menu li:last-child .dropdown {
  border-bottom: 0;
}
.accordion-menu li.active .dropdown {
  color: #fff;
}
.accordion-menu li.active .dropdown  .fa-chevron-down {
  transform: rotate(180deg);
}
.dropdown {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 45px;
  font-size: 18px;
  border-bottom: 2px solid #2d374d;
  color: #999999;
  position: relative;
  transition: all 0.4s ease-out;
}
.dropdown:hover{
  background: #566f82; /* fallback colour */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#27455c), to(#273a47));
}
.dropdown  i {
  position: absolute;
  top: 17px;
  left: 16px;
}
.dropdown .fa-chevron-down {
  right: 12px;
  left: auto;
  transition: transform 0.2s ease-in-out;
}
.submenuItems {
  display: none;
  background: #2d374d;;
  transition: all 2s ease-in-out;
}
.accordion-menu li.active .submenuItems{
  display: block;
}
.submenuItems a {
  display: block;
  color: #66b2ff;
  font-weight: 600;
  padding: 12px 12px 12px 45px;
  transition: all 0.2s ease-out;
  text-decoration: none;
}
.submenuItems a:hover {
  background-color: #5c7185;
  color: #fff;
}
.submenuItems a.active {
  background-color: #5c7185;
  color: #fff;
}